<div><h1>Recuperação de senha</h1></div>
<h2>Olá,</h2>
<h3>{{ user.name }}.</h3>
<p>Sua senha foi alterada com sucesso, no dia {{ date }}.{{ ip }}</p>
<p>Este e-mail é automático, por favor não responder.</p>
