<div><h1>Sua conta foi bloqueada!</h1></div>
<h2>Olá,</h2>
<h3>{{ user.name }}.</h3>
<p>ATENÇÃO!!! Seu acesso foi bloqueado no dia {{ date }}, para a sua segurança mediante ao número de tentativas erradas no acesso. Por favor entre em contato com o suporte para recuperar sua senha.</p>
<p>Este e-mail é automático, por favor não responder.</p>